<h1>
	Welcome, <%= @user.name %><br>
</h1>
<%= image_tag("default.jpg") %>
<p>
	Address: <%= Use %> <br>
	Date Joined: <%= @user.created_at %> <br>
	Username: <%= @user.username %> <br>
</p>

<h4> My Blogs </h4>
<p>
<% @blogs.each do |blog| %> 
Description <%= blog.description %>
City id <%= blog.city_id %>
Created at <%= blog.created_at %> 
<%= link_to "Delete" , user_blog_path(@user.id, blog.id) , :method => :delete %>
<%= link_to "Edit" , edit_user_blog_path(@user.id, blog.id) %>
</p>

<% end %>