<h1>
	Welcome, <%= @user.name %><br>
</h1>
<%= image_tag("default.jpg") %>
<p>
	Address: <%= @user.address %> <br>
	Date Joined: <%= @user.date_joined %> <br>
	Username: <%= @user.username %> <br>
	<%= @user.created_at %> <br>
</p>
<h4> My Blogs </h4>
<p>
<% @blogs.each do |blog| %> 
Description <%= blog.description %>
City id <%= blog.city_id %>
Created at <%= blog.created_at %> 
<%= link_to "Delete" , blog_delete_path(id: blog.id) , :method => :delete %>
<%= link_to "Edit" , blog_update_path(id: blog.id) , :method => :put %>
</p>

<% end %>